Base_Function/Base_Function/Web References/WebReference/WEBESPort.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://esb.senyint.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://ws.entry.hip.senyint.com/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://esb.senyint.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>WEBESPort</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax22="http://ws.entry.hip.senyint.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://esb.senyint.com">
      <xs:import namespace="http://ws.entry.hip.senyint.com/xsd" />
      <xs:element name="executes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="executesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="setWebServiceEngineImp">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="webServiceEngineImp" nillable="true" type="ax22:WebServiceEngineImp" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.entry.hip.senyint.com/xsd">
      <xs:complexType name="WebServiceEngineImp">
        <xs:sequence />
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="setWebServiceEngineImpRequest">
    <wsdl:part name="parameters" element="ns:setWebServiceEngineImp" />
  </wsdl:message>
  <wsdl:message name="executesRequest">
    <wsdl:part name="parameters" element="ns:executes" />
  </wsdl:message>
  <wsdl:message name="executesResponse">
    <wsdl:part name="parameters" element="ns:executesResponse" />
  </wsdl:message>
  <wsdl:portType name="WEBESPortPortType">
    <wsdl:operation name="setWebServiceEngineImp">
      <wsdl:input wsaw:Action="urn:setWebServiceEngineImp" message="ns:setWebServiceEngineImpRequest" />
    </wsdl:operation>
    <wsdl:operation name="executes">
      <wsdl:input wsaw:Action="urn:executes" message="ns:executesRequest" />
      <wsdl:output wsaw:Action="urn:executesResponse" message="ns:executesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WEBESPortSoap11Binding" type="ns:WEBESPortPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setWebServiceEngineImp">
      <soap:operation soapAction="urn:setWebServiceEngineImp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="executes">
      <soap:operation soapAction="urn:executes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WEBESPortSoap12Binding" type="ns:WEBESPortPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="setWebServiceEngineImp">
      <soap12:operation soapAction="urn:setWebServiceEngineImp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="executes">
      <soap12:operation soapAction="urn:executes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WEBESPortHttpBinding" type="ns:WEBESPortPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="setWebServiceEngineImp">
      <http:operation location="WEBESPort/setWebServiceEngineImp" />
      <wsdl:input>
        <mime:content part="setWebServiceEngineImp" type="text/xml" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="executes">
      <http:operation location="WEBESPort/executes" />
      <wsdl:input>
        <mime:content part="executes" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="executes" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WEBESPort">
    <wsdl:port name="WEBESPortHttpSoap11Endpoint" binding="ns:WEBESPortSoap11Binding">
      <soap:address location="http://10.10.24.117:80/HIPEngine/services/WEBESPort.WEBESPortHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WEBESPortHttpSoap12Endpoint" binding="ns:WEBESPortSoap12Binding">
      <soap12:address location="http://10.10.24.117:80/HIPEngine/services/WEBESPort.WEBESPortHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="WEBESPortHttpEndpoint" binding="ns:WEBESPortHttpBinding">
      <http:address location="http://10.10.24.117:80/HIPEngine/services/WEBESPort.WEBESPortHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>