Bifrost/Web References/WebReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://192.168.1.70/WebSite4/Service.asmx" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://192.168.1.70/WebSite4/Service.asmx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://192.168.1.70/WebSite4/Service.asmx">
      <s:element name="ExecuteBatch_SqlSv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BatchSql" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ExecuteBatch_SqlSvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteBatch_SqlSvResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteSQL_SqlSv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CmdString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteSQL_SqlSvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteSQL_SqlSvResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSet_SqlSv">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CmdString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSet_SqlSvResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSet_SqlSvResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectMas_HisTest">
        <s:complexType />
      </s:element>
      <s:element name="ConnectMas_HisTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConnectMas_HisTestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="His_Mas_GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CmdString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="His_Mas_GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="His_Mas_GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="His_Mas_ReadSqlVal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CmdString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rowindex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="colName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="His_Mas_ReadSqlValResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="His_Mas_ReadSqlValResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="His_Mas_ExcueteSql">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CmdString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="His_Mas_ExcueteSqlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="His_Mas_ExcueteSqlResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="His_Mas_ExecuteBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BatchSql" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="His_Mas_ExecuteBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="His_Mas_ExecuteBatchResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CmdString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CmdString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataTableResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataSets">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tabsqls" type="tns:ArrayOfClass_Table" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClass_Table">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Class_Table" nillable="true" type="tns:Class_Table" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Class_Table">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Sql" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tablename" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDataSetsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataSetsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tt" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTestTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTestTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadSqlVal">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CmdString" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rowindex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="colName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadSqlValResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadSqlValResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteSQL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CmdString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteSQLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteSQLResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectTest">
        <s:complexType />
      </s:element>
      <s:element name="ConnectTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConnectTestResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteSQLWithParams">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CmdString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameters" type="tns:ArrayOfOracleParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOracleParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OracleParameter" nillable="true" type="tns:OracleParameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OracleParameter">
        <s:complexContent mixed="false">
          <s:extension base="tns:DbParameter">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" default="VarChar" name="OracleType" type="tns:OracleType" />
              <s:element minOccurs="1" maxOccurs="1" name="Offset" type="s:int" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="DbParameter" abstract="true">
        <s:complexContent mixed="false">
          <s:extension base="tns:MarshalByRefObject">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DbType" type="tns:DbType" />
              <s:element minOccurs="0" maxOccurs="1" default="Input" name="Direction" type="tns:ParameterDirection" />
              <s:element minOccurs="1" maxOccurs="1" name="IsNullable" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="" name="ParameterName" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Precision" type="s:unsignedByte" />
              <s:element minOccurs="1" maxOccurs="1" name="Scale" type="s:unsignedByte" />
              <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" default="" name="SourceColumn" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" default="false" name="SourceColumnNullMapping" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" default="Current" name="SourceVersion" type="tns:DataRowVersion" />
              <s:element minOccurs="0" maxOccurs="1" name="Value" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MarshalByRefObject" abstract="true" />
      <s:simpleType name="DbType">
        <s:restriction base="s:string">
          <s:enumeration value="AnsiString" />
          <s:enumeration value="Binary" />
          <s:enumeration value="Byte" />
          <s:enumeration value="Boolean" />
          <s:enumeration value="Currency" />
          <s:enumeration value="Date" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="Decimal" />
          <s:enumeration value="Double" />
          <s:enumeration value="Guid" />
          <s:enumeration value="Int16" />
          <s:enumeration value="Int32" />
          <s:enumeration value="Int64" />
          <s:enumeration value="Object" />
          <s:enumeration value="SByte" />
          <s:enumeration value="Single" />
          <s:enumeration value="String" />
          <s:enumeration value="Time" />
          <s:enumeration value="UInt16" />
          <s:enumeration value="UInt32" />
          <s:enumeration value="UInt64" />
          <s:enumeration value="VarNumeric" />
          <s:enumeration value="AnsiStringFixedLength" />
          <s:enumeration value="StringFixedLength" />
          <s:enumeration value="Xml" />
          <s:enumeration value="DateTime2" />
          <s:enumeration value="DateTimeOffset" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ParameterDirection">
        <s:restriction base="s:string">
          <s:enumeration value="Input" />
          <s:enumeration value="Output" />
          <s:enumeration value="InputOutput" />
          <s:enumeration value="ReturnValue" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="DataRowVersion">
        <s:restriction base="s:string">
          <s:enumeration value="Original" />
          <s:enumeration value="Current" />
          <s:enumeration value="Proposed" />
          <s:enumeration value="Default" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="OracleType">
        <s:restriction base="s:string">
          <s:enumeration value="BFile" />
          <s:enumeration value="Blob" />
          <s:enumeration value="Char" />
          <s:enumeration value="Clob" />
          <s:enumeration value="Cursor" />
          <s:enumeration value="DateTime" />
          <s:enumeration value="IntervalDayToSecond" />
          <s:enumeration value="IntervalYearToMonth" />
          <s:enumeration value="LongRaw" />
          <s:enumeration value="LongVarChar" />
          <s:enumeration value="NChar" />
          <s:enumeration value="NClob" />
          <s:enumeration value="Number" />
          <s:enumeration value="NVarChar" />
          <s:enumeration value="Raw" />
          <s:enumeration value="RowId" />
          <s:enumeration value="Timestamp" />
          <s:enumeration value="TimestampLocal" />
          <s:enumeration value="TimestampWithTZ" />
          <s:enumeration value="VarChar" />
          <s:enumeration value="Byte" />
          <s:enumeration value="UInt16" />
          <s:enumeration value="UInt32" />
          <s:enumeration value="SByte" />
          <s:enumeration value="Int16" />
          <s:enumeration value="Int32" />
          <s:enumeration value="Float" />
          <s:enumeration value="Double" />
        </s:restriction>
      </s:simpleType>
      <s:element name="ExecuteSQLWithParamsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteSQLWithParamsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunProcedure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="storedProcName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfOracleParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunProcedureResponse">
        <s:complexType />
      </s:element>
      <s:element name="RunProcedureGetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="storedProcName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfOracleParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunProcedureGetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunProcedureGetDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFtpMessage">
        <s:complexType />
      </s:element>
      <s:element name="GetFtpMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFtpMessageResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="textKind_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="belongToSys_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sickKind_ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="textName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertModelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLableModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLableModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertLableModelResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLableContent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="xmlDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLableContentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertLableContentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BatchSql" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecuteBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExecuteBatchResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllLocalMachines">
        <s:complexType />
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllLocalMachinesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllLocalMachinesResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendmymsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currentip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendmymsgResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetRemotingIp">
        <s:complexType />
      </s:element>
      <s:element name="GetRemotingIpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRemotingIpResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnTryCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Val" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnTryCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnTryCodeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadPatientDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlDoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PatientId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadPatientDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadPatientDocResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadPatientMzDoc">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XmlDoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PatientId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadPatientMzDocResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UploadPatientMzDocResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="upfilebyte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="DocName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PatientId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="upfilebyteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="upfilebyteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downfilebyte">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DocName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PatientId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="downfilebyteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="downfilebyteResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDocXml">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDocXmlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDocXmlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDocXmlByTid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="patient_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="file_no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDocXmlByTidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDocXmlByTidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImageSourceFiles">
        <s:complexType />
      </s:element>
      <s:element name="GetImageSourceFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImageSourceFilesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecuteBatch_SqlSvSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteBatch_SqlSv" />
  </wsdl:message>
  <wsdl:message name="ExecuteBatch_SqlSvSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteBatch_SqlSvResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQL_SqlSvSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteSQL_SqlSv" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQL_SqlSvSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteSQL_SqlSvResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSet_SqlSvSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSet_SqlSv" />
  </wsdl:message>
  <wsdl:message name="GetDataSet_SqlSvSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSet_SqlSvResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ConnectMas_HisTestSoapIn">
    <wsdl:part name="parameters" element="tns:ConnectMas_HisTest" />
  </wsdl:message>
  <wsdl:message name="ConnectMas_HisTestSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectMas_HisTestResponse" />
  </wsdl:message>
  <wsdl:message name="His_Mas_GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:His_Mas_GetDataSet" />
  </wsdl:message>
  <wsdl:message name="His_Mas_GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:His_Mas_GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="His_Mas_ReadSqlValSoapIn">
    <wsdl:part name="parameters" element="tns:His_Mas_ReadSqlVal" />
  </wsdl:message>
  <wsdl:message name="His_Mas_ReadSqlValSoapOut">
    <wsdl:part name="parameters" element="tns:His_Mas_ReadSqlValResponse" />
  </wsdl:message>
  <wsdl:message name="His_Mas_ExcueteSqlSoapIn">
    <wsdl:part name="parameters" element="tns:His_Mas_ExcueteSql" />
  </wsdl:message>
  <wsdl:message name="His_Mas_ExcueteSqlSoapOut">
    <wsdl:part name="parameters" element="tns:His_Mas_ExcueteSqlResponse" />
  </wsdl:message>
  <wsdl:message name="His_Mas_ExecuteBatchSoapIn">
    <wsdl:part name="parameters" element="tns:His_Mas_ExecuteBatch" />
  </wsdl:message>
  <wsdl:message name="His_Mas_ExecuteBatchSoapOut">
    <wsdl:part name="parameters" element="tns:His_Mas_ExecuteBatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSet" />
  </wsdl:message>
  <wsdl:message name="GetDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataTable" />
  </wsdl:message>
  <wsdl:message name="GetDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSetsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataSets" />
  </wsdl:message>
  <wsdl:message name="GetDataSetsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataSetsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTestTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetTestTable" />
  </wsdl:message>
  <wsdl:message name="GetTestTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetTestTableResponse" />
  </wsdl:message>
  <wsdl:message name="ReadSqlValSoapIn">
    <wsdl:part name="parameters" element="tns:ReadSqlVal" />
  </wsdl:message>
  <wsdl:message name="ReadSqlValSoapOut">
    <wsdl:part name="parameters" element="tns:ReadSqlValResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteSQL" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteSQLResponse" />
  </wsdl:message>
  <wsdl:message name="ConnectTestSoapIn">
    <wsdl:part name="parameters" element="tns:ConnectTest" />
  </wsdl:message>
  <wsdl:message name="ConnectTestSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectTestResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLWithParamsSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteSQLWithParams" />
  </wsdl:message>
  <wsdl:message name="ExecuteSQLWithParamsSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteSQLWithParamsResponse" />
  </wsdl:message>
  <wsdl:message name="RunProcedureSoapIn">
    <wsdl:part name="parameters" element="tns:RunProcedure" />
  </wsdl:message>
  <wsdl:message name="RunProcedureSoapOut">
    <wsdl:part name="parameters" element="tns:RunProcedureResponse" />
  </wsdl:message>
  <wsdl:message name="RunProcedureGetDataSoapIn">
    <wsdl:part name="parameters" element="tns:RunProcedureGetData" />
  </wsdl:message>
  <wsdl:message name="RunProcedureGetDataSoapOut">
    <wsdl:part name="parameters" element="tns:RunProcedureGetDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetFtpMessageSoapIn">
    <wsdl:part name="parameters" element="tns:GetFtpMessage" />
  </wsdl:message>
  <wsdl:message name="GetFtpMessageSoapOut">
    <wsdl:part name="parameters" element="tns:GetFtpMessageResponse" />
  </wsdl:message>
  <wsdl:message name="InsertModelSoapIn">
    <wsdl:part name="parameters" element="tns:InsertModel" />
  </wsdl:message>
  <wsdl:message name="InsertModelSoapOut">
    <wsdl:part name="parameters" element="tns:InsertModelResponse" />
  </wsdl:message>
  <wsdl:message name="InsertLableModelSoapIn">
    <wsdl:part name="parameters" element="tns:InsertLableModel" />
  </wsdl:message>
  <wsdl:message name="InsertLableModelSoapOut">
    <wsdl:part name="parameters" element="tns:InsertLableModelResponse" />
  </wsdl:message>
  <wsdl:message name="InsertLableContentSoapIn">
    <wsdl:part name="parameters" element="tns:InsertLableContent" />
  </wsdl:message>
  <wsdl:message name="InsertLableContentSoapOut">
    <wsdl:part name="parameters" element="tns:InsertLableContentResponse" />
  </wsdl:message>
  <wsdl:message name="ExecuteBatchSoapIn">
    <wsdl:part name="parameters" element="tns:ExecuteBatch" />
  </wsdl:message>
  <wsdl:message name="ExecuteBatchSoapOut">
    <wsdl:part name="parameters" element="tns:ExecuteBatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllLocalMachinesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllLocalMachines" />
  </wsdl:message>
  <wsdl:message name="GetAllLocalMachinesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllLocalMachinesResponse" />
  </wsdl:message>
  <wsdl:message name="sendmymsgSoapIn">
    <wsdl:part name="parameters" element="tns:sendmymsg" />
  </wsdl:message>
  <wsdl:message name="sendmymsgSoapOut">
    <wsdl:part name="parameters" element="tns:sendmymsgResponse" />
  </wsdl:message>
  <wsdl:message name="GetRemotingIpSoapIn">
    <wsdl:part name="parameters" element="tns:GetRemotingIp" />
  </wsdl:message>
  <wsdl:message name="GetRemotingIpSoapOut">
    <wsdl:part name="parameters" element="tns:GetRemotingIpResponse" />
  </wsdl:message>
  <wsdl:message name="EnTryCodeSoapIn">
    <wsdl:part name="parameters" element="tns:EnTryCode" />
  </wsdl:message>
  <wsdl:message name="EnTryCodeSoapOut">
    <wsdl:part name="parameters" element="tns:EnTryCodeResponse" />
  </wsdl:message>
  <wsdl:message name="UploadPatientDocSoapIn">
    <wsdl:part name="parameters" element="tns:UploadPatientDoc" />
  </wsdl:message>
  <wsdl:message name="UploadPatientDocSoapOut">
    <wsdl:part name="parameters" element="tns:UploadPatientDocResponse" />
  </wsdl:message>
  <wsdl:message name="UploadPatientMzDocSoapIn">
    <wsdl:part name="parameters" element="tns:UploadPatientMzDoc" />
  </wsdl:message>
  <wsdl:message name="UploadPatientMzDocSoapOut">
    <wsdl:part name="parameters" element="tns:UploadPatientMzDocResponse" />
  </wsdl:message>
  <wsdl:message name="upfilebyteSoapIn">
    <wsdl:part name="parameters" element="tns:upfilebyte" />
  </wsdl:message>
  <wsdl:message name="upfilebyteSoapOut">
    <wsdl:part name="parameters" element="tns:upfilebyteResponse" />
  </wsdl:message>
  <wsdl:message name="downfilebyteSoapIn">
    <wsdl:part name="parameters" element="tns:downfilebyte" />
  </wsdl:message>
  <wsdl:message name="downfilebyteSoapOut">
    <wsdl:part name="parameters" element="tns:downfilebyteResponse" />
  </wsdl:message>
  <wsdl:message name="getDocXmlSoapIn">
    <wsdl:part name="parameters" element="tns:getDocXml" />
  </wsdl:message>
  <wsdl:message name="getDocXmlSoapOut">
    <wsdl:part name="parameters" element="tns:getDocXmlResponse" />
  </wsdl:message>
  <wsdl:message name="getDocXmlByTidSoapIn">
    <wsdl:part name="parameters" element="tns:getDocXmlByTid" />
  </wsdl:message>
  <wsdl:message name="getDocXmlByTidSoapOut">
    <wsdl:part name="parameters" element="tns:getDocXmlByTidResponse" />
  </wsdl:message>
  <wsdl:message name="GetImageSourceFilesSoapIn">
    <wsdl:part name="parameters" element="tns:GetImageSourceFiles" />
  </wsdl:message>
  <wsdl:message name="GetImageSourceFilesSoapOut">
    <wsdl:part name="parameters" element="tns:GetImageSourceFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="ExecuteBatch_SqlSv">
      <wsdl:input message="tns:ExecuteBatch_SqlSvSoapIn" />
      <wsdl:output message="tns:ExecuteBatch_SqlSvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQL_SqlSv">
      <wsdl:input message="tns:ExecuteSQL_SqlSvSoapIn" />
      <wsdl:output message="tns:ExecuteSQL_SqlSvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSet_SqlSv">
      <wsdl:input message="tns:GetDataSet_SqlSvSoapIn" />
      <wsdl:output message="tns:GetDataSet_SqlSvSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectMas_HisTest">
      <wsdl:input message="tns:ConnectMas_HisTestSoapIn" />
      <wsdl:output message="tns:ConnectMas_HisTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="His_Mas_GetDataSet">
      <wsdl:input message="tns:His_Mas_GetDataSetSoapIn" />
      <wsdl:output message="tns:His_Mas_GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="His_Mas_ReadSqlVal">
      <wsdl:input message="tns:His_Mas_ReadSqlValSoapIn" />
      <wsdl:output message="tns:His_Mas_ReadSqlValSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="His_Mas_ExcueteSql">
      <wsdl:input message="tns:His_Mas_ExcueteSqlSoapIn" />
      <wsdl:output message="tns:His_Mas_ExcueteSqlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="His_Mas_ExecuteBatch">
      <wsdl:input message="tns:His_Mas_ExecuteBatchSoapIn" />
      <wsdl:output message="tns:His_Mas_ExecuteBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <wsdl:input message="tns:GetDataSetSoapIn" />
      <wsdl:output message="tns:GetDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <wsdl:input message="tns:GetDataTableSoapIn" />
      <wsdl:output message="tns:GetDataTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataSets">
      <wsdl:input message="tns:GetDataSetsSoapIn" />
      <wsdl:output message="tns:GetDataSetsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTestTable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">测试用1</wsdl:documentation>
      <wsdl:input message="tns:GetTestTableSoapIn" />
      <wsdl:output message="tns:GetTestTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReadSqlVal">
      <wsdl:input message="tns:ReadSqlValSoapIn" />
      <wsdl:output message="tns:ReadSqlValSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQL">
      <wsdl:input message="tns:ExecuteSQLSoapIn" />
      <wsdl:output message="tns:ExecuteSQLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectTest">
      <wsdl:input message="tns:ConnectTestSoapIn" />
      <wsdl:output message="tns:ConnectTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLWithParams">
      <wsdl:input message="tns:ExecuteSQLWithParamsSoapIn" />
      <wsdl:output message="tns:ExecuteSQLWithParamsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunProcedure">
      <wsdl:input message="tns:RunProcedureSoapIn" />
      <wsdl:output message="tns:RunProcedureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunProcedureGetData">
      <wsdl:input message="tns:RunProcedureGetDataSoapIn" />
      <wsdl:output message="tns:RunProcedureGetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFtpMessage">
      <wsdl:input message="tns:GetFtpMessageSoapIn" />
      <wsdl:output message="tns:GetFtpMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertModel">
      <wsdl:input message="tns:InsertModelSoapIn" />
      <wsdl:output message="tns:InsertModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertLableModel">
      <wsdl:input message="tns:InsertLableModelSoapIn" />
      <wsdl:output message="tns:InsertLableModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertLableContent">
      <wsdl:input message="tns:InsertLableContentSoapIn" />
      <wsdl:output message="tns:InsertLableContentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteBatch">
      <wsdl:input message="tns:ExecuteBatchSoapIn" />
      <wsdl:output message="tns:ExecuteBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLocalMachines">
      <wsdl:input message="tns:GetAllLocalMachinesSoapIn" />
      <wsdl:output message="tns:GetAllLocalMachinesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sendmymsg">
      <wsdl:input message="tns:sendmymsgSoapIn" />
      <wsdl:output message="tns:sendmymsgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRemotingIp">
      <wsdl:input message="tns:GetRemotingIpSoapIn" />
      <wsdl:output message="tns:GetRemotingIpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnTryCode">
      <wsdl:input message="tns:EnTryCodeSoapIn" />
      <wsdl:output message="tns:EnTryCodeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadPatientDoc">
      <wsdl:input message="tns:UploadPatientDocSoapIn" />
      <wsdl:output message="tns:UploadPatientDocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadPatientMzDoc">
      <wsdl:input message="tns:UploadPatientMzDocSoapIn" />
      <wsdl:output message="tns:UploadPatientMzDocSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="upfilebyte">
      <wsdl:input message="tns:upfilebyteSoapIn" />
      <wsdl:output message="tns:upfilebyteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="downfilebyte">
      <wsdl:input message="tns:downfilebyteSoapIn" />
      <wsdl:output message="tns:downfilebyteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDocXml">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取文书内容的TEXT文本</wsdl:documentation>
      <wsdl:input message="tns:getDocXmlSoapIn" />
      <wsdl:output message="tns:getDocXmlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDocXmlByTid">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取文书内容的TEXT文本</wsdl:documentation>
      <wsdl:input message="tns:getDocXmlByTidSoapIn" />
      <wsdl:output message="tns:getDocXmlByTidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImageSourceFiles">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取图片源</wsdl:documentation>
      <wsdl:input message="tns:GetImageSourceFilesSoapIn" />
      <wsdl:output message="tns:GetImageSourceFilesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteBatch_SqlSv">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ExecuteBatch_SqlSv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQL_SqlSv">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ExecuteSQL_SqlSv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet_SqlSv">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetDataSet_SqlSv" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectMas_HisTest">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ConnectMas_HisTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="His_Mas_GetDataSet">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/His_Mas_GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="His_Mas_ReadSqlVal">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/His_Mas_ReadSqlVal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="His_Mas_ExcueteSql">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/His_Mas_ExcueteSql" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="His_Mas_ExecuteBatch">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/His_Mas_ExecuteBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSets">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetDataSets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestTable">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetTestTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSqlVal">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ReadSqlVal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQL">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ExecuteSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectTest">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ConnectTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLWithParams">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ExecuteSQLWithParams" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunProcedure">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/RunProcedure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunProcedureGetData">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/RunProcedureGetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFtpMessage">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetFtpMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertModel">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/InsertModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLableModel">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/InsertLableModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLableContent">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/InsertLableContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteBatch">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ExecuteBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocalMachines">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetAllLocalMachines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendmymsg">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/sendmymsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemotingIp">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetRemotingIp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnTryCode">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/EnTryCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPatientDoc">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/UploadPatientDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPatientMzDoc">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/UploadPatientMzDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upfilebyte">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/upfilebyte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downfilebyte">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/downfilebyte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocXml">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/getDocXml" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocXmlByTid">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/getDocXmlByTid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageSourceFiles">
      <soap:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetImageSourceFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecuteBatch_SqlSv">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ExecuteBatch_SqlSv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQL_SqlSv">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ExecuteSQL_SqlSv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet_SqlSv">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetDataSet_SqlSv" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectMas_HisTest">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ConnectMas_HisTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="His_Mas_GetDataSet">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/His_Mas_GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="His_Mas_ReadSqlVal">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/His_Mas_ReadSqlVal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="His_Mas_ExcueteSql">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/His_Mas_ExcueteSql" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="His_Mas_ExecuteBatch">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/His_Mas_ExecuteBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSet">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataTable">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataSets">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetDataSets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTestTable">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetTestTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadSqlVal">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ReadSqlVal" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQL">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ExecuteSQL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectTest">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ConnectTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteSQLWithParams">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ExecuteSQLWithParams" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunProcedure">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/RunProcedure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunProcedureGetData">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/RunProcedureGetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFtpMessage">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetFtpMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertModel">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/InsertModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLableModel">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/InsertLableModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLableContent">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/InsertLableContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteBatch">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/ExecuteBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLocalMachines">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetAllLocalMachines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendmymsg">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/sendmymsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRemotingIp">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetRemotingIp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnTryCode">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/EnTryCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPatientDoc">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/UploadPatientDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadPatientMzDoc">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/UploadPatientMzDoc" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upfilebyte">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/upfilebyte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downfilebyte">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/downfilebyte" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocXml">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/getDocXml" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocXmlByTid">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/getDocXmlByTid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImageSourceFiles">
      <soap12:operation soapAction="http://192.168.1.70/WebSite4/Service.asmx/GetImageSourceFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://192.168.1.84/WebSite1/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://192.168.1.84/WebSite1/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>